<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\customapi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
                <environmentVariables>
                    <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=YOUR_SERVER_HERE;Database=YOUR_DATABASE_HERE;User Id=YOUR_DB_USER_HERE;Password=YOUR_DB_PASSWORD_HERE;TrustServerCertificate=True;" />
                </environmentVariables>
            </aspNetCore>
    </system.webServer>
  </location>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="InjectApiKeyHeader">
                    <match url=".*" />
                    <serverVariables>
                        <set name="HTTP_X_API_KEY" value="YOUR_API_KEY_HERE" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>